 .metadata/
        .recommenders/
        CPPworkspace/
        HelloWorldJava/
        Hellojava/
        RemoteSystemsTempFiles/
        allCPPcodeshere/
        allJAVAcodeshere/
        allPYTHONcodeshere/
        cpp/
        debug.log
        df
        firstjavacode/
        glutdemo/
        helloooak/
        helloooak3/
        polynomial operations/
        temp.exe